@page
@model SimpleUserManager.Pages.RegisterModel
@{
    ViewData["Title"] = "Register page";
}

<div class="container d-flex justify-content-center align-items-start min-vh-100">
    <div class="centered-form mt-5 p-4 border rounded" style="width: 450px; height: 470px;">
        <h2>Create an account</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="UserDto.UserName"></label>
                <input class="form-control" asp-for="UserDto.UserName" />
                <span class="text-danger validation-message" asp-validation-for="UserDto.UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDto.Email"></label>
                <input class="form-control" asp-for="UserDto.Email" />
                <span class="text-danger validation-message" asp-validation-for="UserDto.Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDto.Password"></label>
                <input class="form-control" asp-for="UserDto.Password" />
                <span class="text-danger validation-message" asp-validation-for="UserDto.Password"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-success">Register</button>
        </form>
        <br />
        <p>Have already an account? <a asp-page="Login">Login here</a></p>
    </div>
</div>